.description__wrapper {
  display: flex;
}
.description__image-container {
  width: 35%;
}
.description__text_container {
  width: 65%;
}
.description__text_title {
  font-size: 32px;
}
.description__text {
  font-size: 20rem;
  width: 80%;
  line-height: 1.5;
}
@media (max-width: 900px) {
  .description__wrapper {
    flex-direction: column;
  }
  .description__text_container {
    text-align: center;
    width: 100%;
  }
  .description__text {
    width: 100%;
  }
  .description__image-container {
    display: none;
  }
}
